@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap");

// Start of Variables
$main-color: #9d4124;
$mono-color: #C6522E;
// End of Variables

// Start of General Classes
* {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

.container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

.wrap-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.username {
  max-width: 150px;
}
// End of General Classes