@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap");

// Start of Variables
$main-color: #9d4124;
// End of Variables

// Start of General Classes
* {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

.container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

.wrap-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.username {
  max-width: 150px;
}
// End of General Classes

// Start of Navbar
.navbar {
  border-top: 10px $main-color solid;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo>img {
  height: 2rem;
}

.navbar .options {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar .option {
  text-align: center;
  padding: 7px 0px;
  padding: auto 0px;
  font-size: 1.2rem;
  cursor: pointer;
  opacity: 0.7;
}

.navbar .new-post {
  background-color: $main-color;
  padding: 7px;
  border: 2px $main-color solid;
  border-radius: 10px;
  transition: 0.3s;
  color: white;
  font-weight: bold;
  opacity: 1;
}

.navbar .new-post:hover {
  background-color: white;
  border: 2px $main-color solid;
  border-radius: 10px;
  color: $main-color;
}

.navbar .option:not(.new-post):hover {
  color: $main-color;

  opacity: 1;
}

// End of Navbar

// Start of main
.posts {
  margin-top: 100px;
}

.posts ul {
  padding-left: 0px;
}

.posts .post{
  list-style: none;

  margin-bottom: 20px;
}

.posts .post-grid {
  display: grid;
  grid-template-columns: min-content fit-content(100%) max-content;
  column-gap: 20px;
  align-items: center;
}

.posts .like{
  grid-column: 1;
  grid-row: span 2;

  font-size: 20px;

  color: $main-color;
  opacity: .8;

  cursor: pointer;
}

.posts .title{
  grid-column: 2;
  grid-row: 1;

  font-size: 20px;
  font-weight: 700;

  opacity: .6;
  
  cursor: pointer;
}

.posts .title:hover{
  color: $main-color;

  opacity: 1;
} 

.posts .comments{
  grid-column: 3;
  grid-row: span 2;

  font-size: 18px;
  opacity: .6;

  border: 1px black solid;
  border-radius: 5px;

  padding: 2px 5px;

  cursor: pointer;
}


.posts .comments:hover{
  background-color: $main-color;
  border: 1px $main-color solid;
  border-radius: 5px;
  color: white;
  opacity: .8;
}

.posts .sub{
  grid-column: 2;
  grid-row: 2;

  display: flex;
  gap: 5px;
  align-items: center;

  font-size: 14px;
}

.posts .spliter {
  font-size: 16px;
}

.posts .username {
  font-weight: bold;

  opacity: .6;

  cursor: pointer;
}

.posts .username:hover {
  color: $main-color;

  opacity: 1;
}
// End of main

// Start of More Button
.more {
  width: fit-content;
  margin-bottom: 50px;
  padding: 0px;

  background-color: transparent;
  border: none;
  color: $main-color;

  font-size: 18px;
  font-weight: bold;

  cursor: pointer;
}
// End of More Button