@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap");

// Start of Variables
$main-color: #9d4124;
// End of Variables

// Start of General Classes
* {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

.container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

.wrap-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// End of General Classes

// Start of Navbar
.navbar {
  border-top: 15px $main-color solid;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo>img {
  height: 2rem;
}

.navbar .options {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar .option {
  text-align: center;
  padding: 7px 0px;
  padding: auto 0px;
  font-size: 1.2rem;
  cursor: pointer;
  opacity: 0.7;
}

.navbar .new-post {
  background-color: $main-color;
  padding: 7px;
  border: 2px $main-color solid;
  border-radius: 10px;
  transition: 0.3s;
  color: white;
  font-weight: bold;
  opacity: 1;
}

.navbar .new-post:hover {
  background-color: white;
  border: 2px $main-color solid;
  border-radius: 10px;
  color: $main-color;
}

.navbar .option:not(.new-post):hover {
  color: $main-color;
  border-bottom: 2px $main-color solid;
}

.navbar .username {
  max-width: 150px;
}
// End of Navbar

// Start of main
.main {
  margin-top: 100px;
}

// End of main