@use '../../style/colors.scss';

.modal-add-post {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-body {
  resize: none;
  overflow-y: scroll;
  height: 150px !important;
}

.submit-button {
  margin-top: 10px;
  padding: 10px;
  height: 50px;
  background-color: colors.$light-color;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-size: x-large;
  font-weight: bold;
  width: fit-content;
  cursor: pointer;
}