@use "../../style/shared.scss";
@use "../../style/mq.scss";
@use "../../style/colors.scss";

.card {
  display: grid;
  grid-template-columns: 25px auto;
  width: 100%;
  column-gap: 10px;
  align-items: center;
  cursor: pointer;
}

.card:hover,
.username {
  color: colors.$main-color;
}

.like-button {
  grid-row: span 2;
  color: colors.$light-color;
}

.like-icon {
  font-size: larger;
  transition: font-size .5s;
}

.like-button:hover
.like-icon {
  font-size: x-large;
}

.title {
  font-size: larger;
}

.title:hover {
  color: colors.$main-color;
}

.username {
  color: colors.$black-color;
}

.username:hover {
  color: colors.$main-color;
}

.meta-data {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  gap: 5px;
  align-items: center;
  color: colors.$gray-color;
  flex-wrap: wrap;
}

.spliter {
  font-size: smaller;
}

.post-details {
  grid-row: 3;
  grid-column: 2;
}