@use "../../style/shared.scss";
@use "../../style/mq.scss";
@use "../../style/colors.scss";

.card {
  display: grid;
  grid-template-columns: max-content auto;
  width: fit-content;
  column-gap: 10px;
  align-items: center;
  cursor: pointer;
}

.like-button {
  grid-row: span 2;
  color: colors.$light-color;
}

.like-icon {
  font-size: larger;
}

.title {
  font-size: larger;
}

.title:hover {
  color: colors.$main-color;
}

.username {
  color: colors.$black-color;
}

.username:hover {
  color: colors.$main-color;
}

.meta-data {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  gap: 5px;
  align-items: center;
  color: colors.$gray-color;
}

.spliter {
  font-size: smaller;
}
