@use './mq.scss';
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap");

* {
  font-family: "Cairo", sans-serif;
  @include mq.mobile {
    font-size: small;
  }

  @include mq.tablet {
    font-size: medium;
  }

  @include mq.desktop {
    font-size: medium;
  }
}