@use "./mq.scss";

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;

  @include mq.mobile {
    width: 100%;
  }
  @include mq.tablet {
    width: 100%;
  }
  @include mq.desktop {
    width: 1400px;
  }
}

.under-navbar {
  margin-top: 80px;
}

.wrap-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.username {
  max-width: 150px;
}
