.container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

.under-navbar {
  margin-top: 100px;
}

.wrap-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.username {
  max-width: 150px;
}
